<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Character Recognition</title>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />

    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" />

    <meta name="author" content="Anthony Chen" />
    <meta
      name="description"
      content="A website demonstration of how linear algebra techniques (e.g. singular value decomposition) can be used to classify handwritten characters. An accompanying slideshow explains the mathematical intuition of the machine learning models developed for the project. The website is interactive, allowing users to draw a character and see the predictions of different models.
    "
    />

    <script src="{{ url_for('static', filename='script.js') }}" defer></script>
  </head>
  <body>
    <div class="container p-5">
      <header>
        <h1>Character Recognition</h1>
        <p>
          This website demonstrates how linear algebra techniques (e.g. singular
          value decomposition) can be used to classify handwritten characters.
          An accompanying
          <a
            href="https://docs.google.com/presentation/d/1O5eeYbItA2KitufxAa5cZMYMJOYkmisl1KJQsGiyAv0/edit?usp=sharing"
            >slideshow</a
          >
          explains the mathematical intuition of the machine learning models
          developed for the project. The website is interactive, allowing users
          to draw a character and see the predictions of different models.
        </p>
      </header>

      <div class="row gap-4">
        <div class="col-lg d-flex flex-column align-items-center">
          <canvas
            id="draw"
            width="280"
            height="280"
            class="border border-dark mb-3"
            >Your browser does not support canvas element.</canvas
          >

          <div>
            <button id="predict" class="btn btn-outline-primary">
              Predict
            </button>
            <button id="clear" class="btn btn-outline-danger">Clear</button>
          </div>
        </div>

        <div class="col-lg">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Model</th>
                <th>Accuracy</th>
                <th>Prediction</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Neural Network</td>
                <td>{{ nn_acc }}%</td>
                <td id="nn-pred"></td>
              </tr>
              <tr>
                <td>Mean Matrix</td>
                <td>{{ mm_acc }}%</td>
                <td id="mm-pred"></td>
              </tr>
              <tr>
                <td>Least Squares</td>
                <td>{{ ls_acc }}%</td>
                <td id="ls-pred"></td>
              </tr>
              <tr>
                <td>Mean Value</td>
                <td>{{ mv_acc }}%</td>
                <td id="mv-pred"></td>
              </tr>
              <tr>
                <td>Bogus</td>
                <td>{{ bg_acc }}%</td>
                <td id="bg-pred"></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
