<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Character Recognition</title>

    <!--TODO: Stylesheet Link-->
    <link rel="stylesheet" href="" />
    <!--TODO: Favicon Link-->
    <link rel="icon" href="" />

    <meta name="author" content="Anthony Chen" />
    <meta
      name="description"
      content="A website demonstration of how linear algebra techniques (e.g. singular value decomposition) can be used to classify handwritten characters. An accompanying slideshow explains the mathematical intuition of the machine learning models developed for the project. The website is interactive, allowing users to draw a character and see the predictions of different models.
    "
    />

    <!--TODO: Script Link-->
    <script src=""></script>
  </head>
  <body>
    <canvas
      id="draw"
      width="280"
      height="280"
      style="border: 1px solid black"
    ></canvas>
  </body>
</html>
