<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Character Recognition</title>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />

    <!--TODO: Favicon Link-->
    <link rel="icon" href="" />

    <meta name="author" content="Anthony Chen" />
    <meta
      name="description"
      content="A website demonstration of how linear algebra techniques (e.g. singular value decomposition) can be used to classify handwritten characters. An accompanying slideshow explains the mathematical intuition of the machine learning models developed for the project. The website is interactive, allowing users to draw a character and see the predictions of different models.
    "
    />
  </head>
  <body>
    <div class="container p-5">
      <header>
        <h1>Character Recognition</h1>
        <p>
          This website demonstrates how linear algebra techniques (e.g. singular
          value decomposition) can be used to classify handwritten characters.
          An accompanying slideshow explains the mathematical intuition of the
          machine learning models developed for the project. The website is
          interactive, allowing users to draw a character and see the
          predictions of different models.
        </p>
      </header>

      <div class="row gap-4">
        <div class="col-lg d-flex flex-column align-items-center">
          <canvas
            id="draw"
            width="280"
            height="280"
            class="border border-dark mb-3"
            >Your browser does not support canvas element.</canvas
          >

          <div>
            <button id="predict" class="btn btn-outline-primary">
              Predict
            </button>
            <button id="clear" class="btn btn-outline-danger">Clear</button>
          </div>
        </div>

        <div class="col-lg">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Model</th>
                <th>Accuracy</th>
                <th>Prediction</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Least Squares</td>
                <td>{{ ls_acc }}%</td>
                <td id="ls-pred"></td>
              </tr>
              <tr>
                <td>Mean Matrix</td>
                <td>{{ mm_acc }}%</td>
                <td id="mm-pred"></td>
              </tr>
              <tr>
                <td>Mean Value</td>
                <td>{{ mv_acc }}%</td>
                <td id="mv-pred"></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <script>
      const canvas = document.getElementById('draw');
      const ctx = canvas.getContext('2d');

      // Add a white background
      ctx.fillStyle = 'white';
      ctx.fillRect(0, 0, canvas.width, canvas.height);

      // Round pen strokes of size 10
      ctx.lineWidth = 10;
      ctx.lineCap = 'round';

      let penDown = false;

      // Start drawing (mouse)
      canvas.onmousedown = (e) => {
        penDown = true;
        ctx.beginPath();
      };

      // Start drawing (touch)
      canvas.addEventListener(
        'touchstart',
        (e) => {
          e.preventDefault();

          penDown = true;
          ctx.beginPath();
        },
        { passive: false }
      );

      // Draw (mouse)
      canvas.onmousemove = (e) => {
        if (penDown) {
          ctx.lineTo(e.offsetX, e.offsetY);
          ctx.stroke();
        }
      };

      // Draw (touch)
      canvas.addEventListener(
        'touchmove',
        (e) => {
          e.preventDefault();

          if (penDown) {
            const touch = e.touches[0];
            const rect = canvas.getBoundingClientRect();

            ctx.lineTo(
              touch.pageX - rect.left - window.scrollX,
              touch.pageY - rect.top - window.scrollY
            );
            ctx.stroke();
          }
        },
        { passive: false }
      );

      // Stop drawing (mouse, touch)
      canvas.onmouseup =
        canvas.onmouseleave =
        canvas.ontouchend =
        canvas.ontouchcancel =
          () => {
            penDown = false;
          };

      // Reset canvas to white
      document.getElementById('clear').onclick = () => {
        ctx.fillRect(0, 0, canvas.width, canvas.height);
      };

      // POST request, get predictions, reset canvas
      document.getElementById('predict').onclick = () => {
        fetch('/predict', {
          method: 'POST',
          body: canvas.toDataURL().split(',')[1]
        })
          .then((res) => res.json())
          .then((data) => {
            document.getElementById('ls-pred').textContent = data['ls'];
            document.getElementById('mm-pred').textContent = data['mm'];
            document.getElementById('mv-pred').textContent = data['mv'];
          });

        ctx.fillRect(0, 0, canvas.width, canvas.height);
      };
    </script>
  </body>
</html>
